$color__primary: #24b47e;
$color__secondary: #6772e5;
$color__tertiary: #3ecf8e;

$color__grey: #f6f9fc;

$font__main: sans-serif;
$font__code: 'Open Sans', sans-serif;
$font__line-height-body: 1.5;
$font__body__size: 17px;
$font__body__color: #525f7f;



$page-width: 1040px;