.customers {
    border-top: 2px solid $color__grey;
    z-index: 5;
    position: relative;

    a {
        display: block;
        padding: 60px 0;
        position: relative;

        &:hover {
            @media (min-width: 880px) {

                .btn {
                    @include prefix(transform, translate(-50%, -50%));
                    opacity: 1;
                }

                ul {
                    opacity: 0.7;
                    @include prefix(transform, scale(0.95));
                    @include prefix(filter, blur(10px));
                }
            }
        }
    }

    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        @include prefix(transform, translate(-50%, -20%));
        opacity: 0;
        @include prefix(transition, all 0.3s ease 0s);
        z-index: 5;
    }
    ul {
        display: -webkit-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: flex;
        @include prefix(flex-wrap, wrap);
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        @include prefix(transform, scale(1));
        @include prefix(filter, blur(0px));
        @include prefix(transition, all 0.3s ease 0s);

        @media (max-width: 880px) {
            justify-content: center;
        }
    }
    li {
        display: inline-block;
        margin: 10px;
        list-style: none;
        

        img {
            height: 24px
        }

        &:first-child {
            img {
                height: 16px;
            }
        }

        &:nth-child(2) {
            img {
                height: 22px;
            }
        }
        &:nth-child(3) {
            img {
                height: 18px;
            }
        }

        &:nth-child(7) {
            img {
                height: 22px;
            }
        }
    }
}